[submodule "lms-clean"]
	path = lms-clean
	url = https://github.com/TiarkRompf/lms-clean
[submodule "prover-commons"]
	path = prover-commons
	url = https://github.com/tribbloid/prover-commons
[submodule "buildSrc"]
	path = buildSrc
	url = https://github.com/tribbloid/buildSrc
